body {
}
.LogoNavBar {
    width:100%;
    display: flex;
    justify-content: space-between;
    
}

.LogoNavBar a {
    text-decoration: none;
}

.LogoNavBar img {
    width: 100px;
    height: 80px;
}
.containerBackground{
    display:flex;
    justify-content:center;
}
.containerBackground img {
    height: 500px;
    width: 1000px;
    margin: 5px;
    padding: 0%;
}

.Linkboxs{
    display: flex;
    justify-content: space-evenly;
}

.Man {
    width: 320px;
    height: 400px;
    background-image: url(https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/w_383,c_limit/0bafb728-2ae2-416f-bb18-5935801c8071/nike-just-do-it.png);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0%;
    margin:10px;
}
.Womens {
    width: 320px;
    height: 400px;
    background-image: url(https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/w_383,c_limit/2c8754ce-6287-4e77-a198-1ad483fba257/nike-just-do-it.png);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0%;
    margin: 10px;
}
.shoes {
    width: 320px;
    height: 400px;
    background-image: url(https://images.asos-media.com/products/adidas-originals-streetball-ii-trainers-in-grey-tones-and-cream/201271050-1-grey?$n_750w$&wid=750&fit=constrain);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0%;
    margin: 10px;
}
.sports_equipment {
    width: 320px;
    height: 400px;
    background-image: url(https://i.pinimg.com/564x/05/f9/c2/05f9c217b0bcf7b3d25ecaffcc943e2d.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0%;
    margin: 10px;
}
button {
    margin-top: 310px;
    margin-left: 40px;
    font-size: 15px;
    width: 150px;
    border-radius: 25px;
    background: transparent;
    border: 2px solid #e5a00d;
    color: #e5a00d;
}

footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5a10d96;
    
}

footer h4 {
    text-align: center;
    color: blanchedalmond;
    font-size: 40px;
    font-family: 'Fruktur', cursive;
}

.icons img {
    margin: 15px;
    width: 50px;
}