body {
}
.contener{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Oswald', sans-serif;
    font-weight: bold 300px;
    margin: 25px;
    transition:0.5s;
}
.box:hover{
    background:black;
    color:gray;
}
.box img{
    width:350px;
    height:350px;
}
.btnView{
    display:flex;
    justify-content:space-between;
}

.btnView button {
    font-size: 15px;
    width: 150px;
    border-radius: 25px;
    background: transparent;
    border: 2px solid #e5a00d;
    color: #e5a00d;
}

img{
    width:100px;
}